.center {
 text-align: center;   
}
#logo {
    padding:10px 0px 40px 0px;
}
.titolo_form {
    font-weight: bold;
    padding: 10px 0px;
}
.etichetta {
    padding-bottom:10px;
}
.campo {
    padding-bottom:10px;
}
.no {
     color:red;
     font-weight: bold;
    
}
.ok {
    color:green;
    font-weight: bold;
  
}
#message {
    padding: 20px 0px;
}
#link {
    padding: 20px 0px;
}

